#footer{
	background-color: #000;
	color: #FFF;

	.footer-main{
		padding: 3rem 0;
		padding-bottom: 10px;
		.logo svg{
			width: 100px;
		}

		.footer-nav{
			list-style: none;
			padding-left: 0;

			.nav-item{
				margin-bottom: 5px;

				&:first-child{
					text-transform: uppercase;
					font-weight: bold;
				}
				a{
					color: #FFF;
				}
				
			}
		}
	}

	.footer-contact-info{
		i{
			padding: 2px;
			margin-right: 5px;
		}
	}
}